name: Build Ghasab APK
on: [push] # سيبدأ البناء تلقائياً في كل مرة تعدل فيها الكود

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install flet yt-dlp

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: |
          # نستخدم flet build apk لبناء التطبيق
          flet build apk
          
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Ghasab-PRO-Package
          path: build/apk/*.apk
